html {
  scroll-behavior: smooth;
}
.intro {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-position: center;
  color: white;
  text-align: center;
  height: 110vh;
  margin-top: 30px;
  background-size: cover;
  justify-content: center;
}
.intro-content {
  display: block;
  justify-content: center;
  padding-top: 180px;
}
.intro-content h1 {
  padding: 2px;
  margin: 16px;
  padding-bottom: 2px;
}
.intro-content p {
  padding: 2px;
}
.mouse-click {
  margin-top: 180px;
  padding-bottom: 5px;
}
.about {
  text-align: center;
  background-color: white;
  color: black;
  padding-top: 10px;
}
